.bars {
  display: block;
}

.leftnav{
  border: 1px solid red;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 300px;
  }

.leftnav ul {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: var(--color-white);
  left: -70%;
  border: 1px solid red;
  z-index: 500px;
  border: 1px solid transparent;
  margin: 50px 0 0 0px;
  background-color: red;
}

.leftnav ul li {
  padding: 20px;
  border: 1px solid yellow;
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  
}

.closebar{
  border: 1px solid transparent;
  font-size: 2.1em;
  right: 10%;
  font-size: 2em;
  display: none;
}

.leftnav ul li .menu-item {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.1em;
 
}

.leftnav ul li .menu-item:hover {
  background-color: var(--color-orange);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.4s;
}